/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
/* animated background */

body {
    background: linear-gradient(-45deg, #e63946, #457b9d, #457b9d, #1d3557);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: #a8dadc;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

body::-webkit-scrollbar { 
    /* WebKit */
    width: 0;
    height: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Global Styling */

.primary-bg{
    background-color: #1d3557;
    color: #a8dadc;
}

.secondary-bg{
    background-color: #a8dadc;
    color: #1d3557;
}

.transparent-bg{
    background-color: #f1faee75;
    color: #1d3557;
    border: 3px solid #1d3557;
}

.border{
    border: 1px solid #a8dadc !important;
}

h3, h4{
    font-family: 'Bungee Shade' !important;
}

.btn-accent{
    background-color: #e63946;
    color: #f1faee;
}

.btn-accent:hover{
    background-color: #a8dadc;
    color: #1d3557;
}

.text-accent{
    color: #e63946;
}

.text-primary{
    color: #1d3557 !important;
}

.return-home-btn{
    color: #f1faee !important;
}

/* Navbar */

.nav {
    background-color: #a8dadc;
    border: 1px solid #1d3557;
}

.nav-link{
    padding: 0 5px;
    color: #1d3557 !important;
}

.nav-link:hover{
    z-index: 5;
    transform: scale(1.2);
}

/* Toast */
.toast-container{
    min-width: 90vw;
    z-index: 5;
    position: fixed;
    top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

/* Profile Photo */

.profile-photo {
    width: 300px;
    max-height: 250px;
}

/* Text */

.notify {
    z-index: 99 !important;
    color: white !important;
    position: absolute !important;
    top: 20px !important;
}

.notify a {
    text-decoration: underline !important;
    color: white !important;
}